/* Hide Streamlit menu and footer */
/*.stAppFooter, .showFullscreenControl, .showToc {*/
/*    display: none !important;*/
/*}*/

/*#MainMenu {visibility: hidden;}*/
/*header {visibility: hidden;}*/
/*footer {visibility: hidden;}*/
/*div.block-container {padding-top: 1rem;}*/

/*model_url = 'https://github.com/Anshulgada/Streamlit-Web-App/raw/main/best.pt'*/

body {
    background-color: #0e1117;
    color: #ffffff;
}
.stButton>button {
    background-color: #1e1e1e;
    color: #ffffff;
}
.stFileUploader>div {
    color: #ffffff;
}
